<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" lang="eu">
        <title>g12_haliullin lab03</title>
    </head>
    <body>
        <h1>from witg GET method</h1>
        <form method="GET" action="/hello">
            please, enter your name here:<input type="text" name="param">
            <input type="submit" value="say hello">
        </form>
        <hr>
        <h1>from witg POST method</h1>
        <form method="POST" action="/hello">
            please, enter your name here:<input type="text" name="par">
            <input type="submit" value="say hello">
        </form>
        <hr>
        <h1>calc</h1>
        <form method="GET" action="/calc">
            please, enter your numbers:<p><input type="text" name="val"><p>
            <input type="text" name="val1"><p>
            <input type="submit" value="+" name="pl">
            <input type="submit" value="-" name="sb">
            <input type="submit" value="*" name="ml">
            <input type="submit" value="/" name="dv">
        </form>
    </body>
</html>